/1-JavaBasico/Semana 1/EjercicioClase3/target/
/1-JavaBasico/Semana 2/Ejercicio1Clase1/target/
/1-JavaBasico/Semana 2/Ejercicio1Clase5/target/
/1-JavaBasico/Semana 2/Ejercicio2Clase5/target/
/1-JavaBasico/Semana 2/Ejercicio1Clase6/target/
/1-JavaBasico/Semana 2/Ejercicio2Clase6/target/
/2-JavaAvanzado/Semana 1/Clase1Ejercicio1/target/
/2-JavaAvanzado/Semana 1/Clase1Ejercicio3/target/
/2-JavaAvanzado/Semana 2/Clase3y5Ejercicio1/target/
